<ion-content>
  <div class="content">
    <div class="logo_appli">
      <h1>LOGO APPLI</h1>
    </div>
    <div class="Welcome_context">
      <b><p class="wel_text">Bienvenue</p></b>
      <p class="acc_text">Connectez-vous pour continuer</p>
    </div>
    <div class="ion-padding">
      <ion-input placeholder="Login" required></ion-input>
      <ion-input placeholder="mot de passe" required></ion-input>
    </div>
    <ion-button class="submit_button" expand="full" (click)="goToTabs()">CONNEXION</ion-button>
    <ion-grid>
      <ion-row>
        <ion-col class="line" size="2"></ion-col>
        <ion-col size="10">Pas de compte?&nbsp;Inscrivez-vous ici</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
